<header class="py-3 mb-4 border-bottom">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div class="col text-start">
            <a href="http://localhost:8080/" class="text-dark text-decoration-none">Главная</a>
        </div>

        <div class="col-6">
            <form class="col-lg-auto" role="search">
                <input type="search" class="form-control " placeholder="Поиск" aria-label="Search">
            </form>
        </div>

        <div class="col text-end">
            <button type="button"
                    class="btn btn-outline-primary me-2"
                    onclick="location.href='http://localhost:8080/sign-in'">Вход
            </button>

            <button type="button"
                    class="btn btn-primary"
                    onclick="location.href='http://localhost:8080/sign-up'">Регистрация
            </button>
        </div>
    </div>
</header>