{{ template "base.tmpl" .}}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-6">
            <div class="card">
                <div class="p-md-4">
                    <h4 class="mb-4 text-center">Вход в аккаунт</h4>

                    <form>
                        <div class="mb-3">
                            <div data-mdb-input-init=""
                                 class="form-outline"
                                 data-mdb-input-initialized="true">
                                <input type="email"
                                       id="emailAddress"
                                       class="form-control"
                                       placeholder="Почта">
                            </div>
                        </div>

                        <div class="mb-3">
                            <div data-mdb-input-init=""
                                 class="form-outline"
                                 data-mdb-input-initialized="true">
                                <input type="password"
                                       id="password"
                                       class="form-control"
                                       placeholder="Пароль">
                            </div>
                        </div>

                        <div class="text-center">
                            <input data-mdb-button-init=""
                                   data-mdb-ripple-init=""
                                   class="btn btn-primary btn w-100"
                                   type="submit"
                                   value="Войти"
                                   data-mdb-button-initialized="true">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
