<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="templates/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="theme-color" content="#26282B" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#26282B" media="(prefers-color-scheme: dark)">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-left">
                <a class="logo" href="/">News 4 You</a>
            </div>

            <div class="header-search">
                <div class="header-left-inner">
                    <a class="logo" href="/">N4Y</a>
                </div>
                <div class="header-search-inner">
                    <img class="svg" src="templates/img/icon-search.svg" draggable="false">
                    <input id="search-input" placeholder="Поиск" size="32">
                    <input id="search-input-small" placeholder="Поиск" size="22">
                </div>

                <div class="header-right-search">
                    <div class="header-right-languages">
                        <button id="btn1" class="btn-language">Язык</button>
                        <div class="clear-fix"></div>
                        <ul id="lng1" class="language">
                            <li><a href="#">Русский</a></li>
                            <li><a href="#">Английский</a></li>
                            <li><a href="#">Португальский</a></li>
                            <li><a href="#">Португальский</a></li>
                            <li><a href="#">Португальский</a></li>
                            <li><a href="#">Португальский</a></li>
                            <li><a href="#">Португальский</a></li>
                            <li><a href="#">Португальский</a></li>
                            <li><a href="#">Португальский</a></li>
                            <li><a href="#">Португальский</a></li>
                            <li><a href="#">Португальский</a></li>
                        </ul>
                    </div>

                    <div class="header-right-languages">
                        <button class="btn-language">Страна</button>
                        <div class="clear-fix"></div>
                        <ul class="language">
                            <li><a href="#">Россия</a></li>
                            <li><a href="#">США</a></li>
                            <li><a href="#">Португалия</a></li>
                            <li><a href="#">Португальский</a></li>
                            <li><a href="#">Португальский</a></li>
                            <li><a href="#">Португальский</a></li>
                            <li><a href="#">Португальский</a></li>
                            <li><a href="#">Португальский</a></li>
                            <li><a href="#">Португальский</a></li>
                            <li><a href="#">Португальский</a></li>
                            <li><a href="#">Португальский</a></li>
                        </ul>
                    </div>
                    <button class="account"></button>
                </div>
            </div>

            <div class="header-right">
                <div class="header-right-languages">
                    <button class="btn-language">Язык</button>
                    <div class="clear-fix"></div>
                    <ul class="language">
                        <li><a href="#">Русский</a></li>
                        <li><a href="#">Английский</a></li>
                        <li><a href="#">Португальский</a></li>
                        <li><a href="#">Португальский</a></li>
                        <li><a href="#">Португальский</a></li>
                        <li><a href="#">Португальский</a></li>
                        <li><a href="#">Португальский</a></li>
                        <li><a href="#">Португальский</a></li>
                        <li><a href="#">Португальский</a></li>
                        <li><a href="#">Португальский</a></li>
                        <li><a href="#">Португальский</a></li>
                    </ul>
                </div>

                <div class="header-right-languages">
                    <button class="btn-language">Страна</button>
                    <div class="clear-fix"></div>
                    <ul class="language">
                        <li><a href="#">Россия</a></li>
                        <li><a href="#">США</a></li>
                        <li><a href="#">Португалия</a></li>
                        <li><a href="#">Португальский</a></li>
                        <li><a href="#">Португальский</a></li>
                        <li><a href="#">Португальский</a></li>
                        <li><a href="#">Португальский</a></li>
                        <li><a href="#">Португальский</a></li>
                        <li><a href="#">Португальский</a></li>
                        <li><a href="#">Португальский</a></li>
                        <li><a href="#">Португальский</a></li>
                    </ul>
                </div>
                <button class="account"></button>
            </div>
        </div>

    </header>

    <div class="header-down">
        <div class="header-right-languages">
            <button id="btn2" class="btn-language">Язык</button>
            <div class="clear-fix"></div>
            <ul id="lng2" class="language">
                <li><a href="#">Русский</a></li>
                <li><a href="#">Английский</a></li>
                <li><a href="#">Португальский</a></li>
                <li><a href="#">Португальский</a></li>
                <li><a href="#">Португальский</a></li>
                <li><a href="#">Португальский</a></li>
                <li><a href="#">Португальский</a></li>
                <li><a href="#">Португальский</a></li>
                <li><a href="#">Португальский</a></li>
                <li><a href="#">Португальский</a></li>
                <li><a href="#">Португальский</a></li>
            </ul>
        </div>

        <div class="header-right-languages">
            <button class="btn-language">Страна</button>
            <div class="clear-fix"></div>
            <ul class="language">
                <li><a href="#">Россия</a></li>
                <li><a href="#">США</a></li>
                <li><a href="#">Португалия</a></li>
                <li><a href="#">Португальский</a></li>
                <li><a href="#">Португальский</a></li>
                <li><a href="#">Португальский</a></li>
                <li><a href="#">Португальский</a></li>
                <li><a href="#">Португальский</a></li>
                <li><a href="#">Португальский</a></li>
                <li><a href="#">Португальский</a></li>
                <li><a href="#">Португальский</a></li>
            </ul>
        </div>
    </div>

    <section class="main">
        <div class="container">
            <div class="sidebar">
                <a class="sidebar-btn">Свежее</a>
                <a class="sidebar-btn">Свежее</a>
                <a class="sidebar-btn">Свежее</a>
            </div>
            <div class="content">
                <div class="news-feed">
                    <p class="content-title">Lorem ipsum dolor.</p>
                    <div class="content-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Sed vestibulum ex massa, a fringilla augue consectetur a.
                        In varius velit at arcu eleifend, quis lobortis ipsum scelerisque.
                        Nam dignissim sit amet.</p>
                    </div>
                </div>

                <div class="news-feed">
                    <p class="content-title">Lorem ipsum dolor.</p>
                    <div class="content-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Sed vestibulum ex massa, a fringilla augue consectetur a.
                        In varius velit at arcu eleifend, quis lobortis ipsum scelerisque.
                        Nam dignissim sit amet.</p>
                    </div>
                </div>
            </div>
    </section>
    <script src="js/app.js"></script>
</body>